.th-click{
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 120px;
}

th {
    width: 200px;
    height: 200px;
    border-collapse: collapse;
    background-color: burlywood;
  }

  h1, h2{
    font-family: 'Fuzzy Bubbles', cursive;
  }

  #spielstand{ 
    text-align: right;
    width: 600px; 
  }

